.contact {
  display: flex;
  justify-content: space-between;
  padding: 274px 0 120px;

  h1 {
    margin-bottom: 16px;
    color: #fff;

    @include m($lg) {
      text-align: center;
    }
  }

  p {
    margin: 0 0 48px;
    max-width: 441px;
    color: #ededed;

    @include m($lg) {
      margin: 0 auto 48px;
      font-size: 16px;
      text-align: center;
    }
  }

  &__info {
    opacity: 0;
    margin-right: 20px;
    animation: footer-header 0.8s forwards;

    a {
      transition: all 0.3s;

      &:hover {
        color: #fbd394;
      }

      &:active {
        color: #5e857a;
      }

      &:disabled {
        color: rgba(255, 255, 255, 0.3);
      }
    }

    @include m($lg) {
      margin-right: 0;
    }
  }

  &__links {
    margin-bottom: 48px;

    a {
      position: relative;
      display: block;
      padding-left: 24px;
      height: 22px;
      line-height: 22px;
      color: #fff;

      &:first-of-type {
        margin-bottom: 24px;

        &::after {
          content: url("../images/tel.svg");
          position: absolute;
          left: 0;
          top: 2px;
          width: 16px;
          height: 16px;
        }
      }

      &:last-of-type {
        &::after {
          content: url("../images/mail.svg");
          position: absolute;
          left: 0;
          top: 2px;
          width: 16px;
          height: 16px;
        }
      }

      @include m($lg) {
        margin: 0 auto;
        width: fit-content;
        text-align: center;
      }
    }
  }

  .footer__social {
    @include m($lg) {
      justify-content: center;
      margin-bottom: 48px;
    }
  }

  &__map {
    opacity: 0;
    width: 100%;
    height: 468px;
    max-width: 885px;
    animation: footer-header 0.8s forwards;

    iframe {
      width: 100%;
      height: 468px;

      @include m($xl) {
        height: 400px;
      }

      @include m($lg) {
        height: 651px;
      }
    }

    @include m($xl) {
      height: 400px;
      max-width: 700px;
    }

    @include m($lg) {
      height: 651px;
      max-width: 100%;
    }
  }

  @include m($xl) {
    padding: 220px 0 103px;
  }

  @include m($lg) {
    flex-direction: column;
    padding: 194px 0 60px;
  }
}