body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Causten, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.04em;
  color: #fff;
  background-image: linear-gradient(0deg, #18211f, #18211f);
  cursor: default;

  @include m($xl) {
    font-size: 16px;
  }
}

html,
body {
  position: relative;
  height: 100%;
}

.home {
  background-image: url("../images/bg.jpg");
  background-size: 100%;
  background-repeat: repeat;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1582px;
}

h1 {
  font-family: Causten-600, sans-serif;
  font-weight: 600;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #ededed;

  @include m($xl) {
    font-size: 54px;
  }

  @include m($lg) {
    font-size: 48px;
  }
}

h2 {
  font-family: Causten-600, sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #ededed;
}

h3 {
  font-family: Causten-600, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ededed;
}

h4 {
  font-family: Causten-700, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.015em;
  color: #ededed;
}

h5 {
  font-family: Causten-600, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ededed;
}

@font-face {
  src:
    local("Causten"),
    url("../fonts/Causten-Regular.woff2") format("woff2"),
    url("../fonts/Causten-Regular.woff") format("woff");
  font-family: Causten;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local("Causten"),
    url("../fonts/Causten-Medium.woff2") format("woff2"),
    url("../fonts/Causten-Medium.woff") format("woff");
  font-family: Causten-500;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local("Causten"),
    url("../fonts/Causten-SemiBold.woff2") format("woff2"),
    url("../fonts/Causten-SemiBold.woff") format("woff");
  font-family: Causten-600;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local("Causten"),
    url("../fonts/Causten-Bold.woff2") format("woff2"),
    url("../fonts/Causten-Bold.woff") format("woff");
  font-family: Causten-700;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.rv-button {
  display: flex;
  align-items: center;
  padding: 0 32px;
  width: fit-content;
  min-height: 50px;
  border-radius: 4px;
  background-color: transparent;
  transition: all 0.3s;
  margin: 0 auto;

  p {
    height: 15px;
    line-height: 1;
    font-family: Causten-600, sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0!important;
  }
}
.rv-gold {
  border: 1px solid #fbd394;
  p {
    color: #F3D697;
  }
  &:hover {
    background-color: #FBD394;
    p {
      color: #324541;
    }
  }
  &:active {
    background-color: #FFE4B9;
    border: 1px solid #F3D697;
    p {
      color: #5E857A;
    }
  }
  &:disabled {
    border: 1px solid #D0D0D0;
    background-color: transparent;
    p {
      color: #D0D0D0;
    }
  }
}

.preview {
  position: relative;

  .container {
    position: absolute;
    left: 50%;
    bottom: 120px;
    transform: translateX(-50%);
  }

  img {
    width: 100%;
    height: 440px;
    object-fit: cover;
  }
}

.send-form {
  margin-bottom: 120px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 48px;
    background-color: #324541;
  }

  h2 {
    margin-bottom: 16px;
  }

  &__text {
    max-width: 545px;
  }

  input {
    margin-bottom: 38px;
    width: 100%;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #5e857a;
    border-left: none;
    background-color: transparent;
  }
}
.cookie {
  padding: 24px 32px 24px 24px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  max-width: 1280px;
  margin: 0 auto;
  bottom: 50px;
  align-items: center;
  left: 0;
  right: 0;
  background-color: #324541;
  border-radius: 4px;
  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    color: #FFFFFF;
  }
}