.hero {
  position: relative;
  height: 100vh;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background:
      linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
      radial-gradient(66.48% 66.48% at 50% 50%, rgba(24, 33, 31, 0) 0%, rgba(24, 33, 31, 0.8) 100%);
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .container {
    position: absolute;
    left: 50%;
    bottom: 20%;
    z-index: 10;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    transform: translateX(-50%);
  }

  h1 {
    max-width: 619px;
    color: #fff;
  }

  &__present {
    padding: 48px;
    width: 100%;
    height: fit-content;
    max-width: 885px;
    background-color: rgba(24, 33, 31, 0.9);

    ul {
      display: grid;
      grid-gap: 0 48px;
      grid-template-columns: 1fr 1fr 1fr;

      li {
        img {
          margin-bottom: 24px;
        }

        h5 {
          margin-bottom: 8px;
          color: #fff;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }
}

.we {
  padding: 240px 0 120px;

  h2 {
    margin-bottom: 48px;
    text-align: center;
    color: #fff;
  }

  p {
    margin: 0 auto 120px;
    max-width: 1094px;
    text-align: center;

    &:not(:last-of-type) {
      margin-bottom: 24px;
    }
  }
}

.gallery {
  padding: 120px 0;

  h2 {
    margin-bottom: 80px;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    img {
      width: 100%;
      height: 641px;
      max-height: 641px;
      object-fit: cover;
    }

    a {
      margin-bottom: 40px;
      width: 100%;
    }
  }

  &__small {
    max-width: 32%;

    img {
      padding-right: 20px;
    }
  }

  &__big {
    max-width: 68%;

    img {
      padding-left: 20px;
    }
  }

  &__medium {
    max-width: 50%;
  }

  &__medium--first {
    img {
      padding-right: 20px;
    }
  }

  &__medium--second {
    img {
      padding-left: 20px;
    }
  }

  &__big--revert {
    img {
      padding-right: 20px;
      padding-left: 0;
    }
  }

  &__small--revert {
    img {
      padding-right: 0;
      padding-left: 20px;
    }
  }

  .rv-explore {
    margin: 8px auto 0;
  }
}

.sale {
  padding: 120px 0;

  h2 {
    margin-bottom: 48px;
    text-align: center;
    color: #fff;
  }

  &__descr {
    margin: 0 auto 80px;
    max-width: 630px;
    text-align: center;
  }

  ul {
    display: grid;
    grid-gap: 0 48px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 80px;

    a {
      display: flex;
      flex-direction: column;
      min-height: 548px;

      &:hover {
        .sale__button {
          background-position: bottom;
        }

        .sale__link {
          opacity: 1;
        }

        .sale__img {
          img:first-child {
            transform: scale(1.1);
          }
        }
      }
    }

    p {
      margin-bottom: 18px;
      font-size: 14px;
    }

    .sale__img {
      position: relative;
      margin-bottom: 16px;
      overflow: hidden;

      img:first-child {
        width: 100%;
        max-height: 304px;
        object-fit: cover;
        transition: all 0.3s;
      }
    }

    .sale__link {
      position: absolute;
      right: 8px;
      bottom: 8px;
      opacity: 0;
      transition: all 0.3s;
    }

    .sale__title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;

      h3 {
        color: #fff;
      }

      h5 {
        min-width: fit-content;
        color: #fbd394;
      }
    }
  }
}

.custom {
  padding: 120px 0 240px;

  h2 {
    margin: 0 auto 48px;
    max-width: 751px;
    text-align: center;
    color: #fff;

    span {
      color: #f3d697;
    }
  }

  p {
    margin: 0 auto 48px;
    max-width: 751px;
    text-align: center;
  }

  ul {
    display: grid;
    grid-gap: 0 48px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 120px;

    li {
      overflow: hidden;
      transition: all 0.3s;

      &:hover {
        transform: scale(1.071);
      }

      &:first-child {
        border-radius: 175px 0 0 175px;
      }

      &:nth-child(2) {
        border-radius: 175px;
      }

      &:nth-child(3) {
        border-radius: 0 175px 0 0;
      }

      &:nth-child(4) {
        border-radius: 175px 175px 0 0;
      }
    }
  }

  .rv-button {
    p {
      margin: 0 !important;
    }
  }
}

.sale__tags {
  display: flex;
  margin-bottom: 16px;

  div {
    display: flex;
    align-items: center;
    height: 20px;

    p {
      margin-bottom: 0;
      font-family: Causten-500, sans-serif;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.04em;
      color: #b5b1ad;
    }

    img {
      margin-right: 4px;
      width: 20px;
      height: 20px;
    }

    + div {
      margin-left: 16px;
    }
  }
}

.sale__button {
  position: relative;
  margin: auto 0 0;
  padding: 16px;
  border-bottom: 1px solid #324541;
  font-family: Causten-600, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  background: linear-gradient(to top, #324541 50%, transparent 50%);
  background-position: top;
  background-size: 200%;
  background-size: 100% 200%;
  transition: all 0.3s;

  &::after {
    content: url("../images/sale-arrow.svg");
    position: absolute;
    right: 8px;
    top: 50%;
    width: 48px;
    height: 48px;
    transform: translateY(-50%);
  }
}
