.footer {
    margin-top: auto;
    padding: 80px 0 40px;
    background: linear-gradient(0deg, rgba(50, 69, 65, 0.2), rgba(50, 69, 65, 0.2)), #18211f;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
    }

    &__copy {
        font-family: Causten-500, sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: rgba(255, 255, 255, 0.4);
    }

    &__menu {
        p {
            margin-bottom: 24px;
            font-family: Causten-700, sans-serif;
            font-weight: 700;
            line-height: 1.2;
            letter-spacing: 0.015em;
            color: #fbd394;
        }

        ul {
            li {
                + li {
                    margin-top: 24px;
                }
            }
        }
    }

    &__contacts {
        ul {
            li {
                &:not(:last-child) {
                    padding-left: 24px;
                }
            }
        }
    }

    &__social {
        display: flex;

        a + a {
            margin-left: 24px;
        }
    }

    &__map {
        position: relative;

        &::after {
            content: url("../images/map.svg");
            position: absolute;
            left: 0;
            top: 3px;
            width: 16px;
            height: 16px;
        }
    }

    &__tel {
        position: relative;

        &::after {
            content: url("../images/tel.svg");
            position: absolute;
            left: 0;
            top: 3px;
            width: 16px;
            height: 16px;
        }
    }

    &__mail {
        position: relative;

        &::after {
            content: url("../images/mail.svg");
            position: absolute;
            left: 0;
            top: 3px;
            width: 16px;
            height: 16px;
        }
    }
}