body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Causten", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.04em;
  color: #fff;
  background-image: linear-gradient(0deg, #18211f, #18211f);
  cursor: default;

  @include m($lg) {
    font-size: 16px;
  }
}

a {
  outline: none;
}

html,
body {
  position: relative;
  height: 100%;
}

.home {
  background-image: url("../images/bg-test.jpg");
  background-repeat: repeat;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1592px;

  @include m($md) {
    padding: 0 15px;
  }
}

h1 {
  font-family: "Causten-600", sans-serif;
  font-weight: 600;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #ededed;

  @include m($xl) {
    font-size: 54px;
  }

  @include m($lg) {
    font-size: 48px;
  }
}

h2 {
  font-family: "Causten-600", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #ededed;

  @include m($xl) {
    font-size: 42px;
  }

  @include m($lg) {
    font-size: 38px;
  }
}

h3 {
  font-family: "Causten-600", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ededed;
}

h4 {
  font-family: "Causten-700", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.015em;
  color: #ededed;
}

h5 {
  font-family: "Causten-600", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ededed;
}

@font-face {
  src:
    local("Causten"),
    url("../fonts/Causten-Regular.woff2") format("woff2"),
    url("../fonts/Causten-Regular.woff") format("woff");
  font-family: "Causten";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local("Causten"),
    url("../fonts/Causten-Medium.woff2") format("woff2"),
    url("../fonts/Causten-Medium.woff") format("woff");
  font-family: "Causten-500";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local("Causten"),
    url("../fonts/Causten-SemiBold.woff2") format("woff2"),
    url("../fonts/Causten-SemiBold.woff") format("woff");
  font-family: "Causten-600";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local("Causten"),
    url("../fonts/Causten-Bold.woff2") format("woff2"),
    url("../fonts/Causten-Bold.woff") format("woff");
  font-family: "Causten-700";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.rv-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 32px;
  width: fit-content;
  min-height: 50px;
  border-radius: 4px;
  background-color: transparent;
  transition: all 0.3s;

  p {
    margin: 0;
    width: max-content;
    height: 15px;
    font-family: "Causten-600", sans-serif;
    font-weight: 600;
    font-size: 16px !important;
    line-height: 1;
    text-transform: uppercase;
    transition: all 0.3s;
  }
}

.rv-gold {
  border: 1px solid #fbd394;

  p {
    color: #f3d697;
  }

  &:hover {
    background-color: #fbd394;

    p {
      color: #324541;
    }
  }

  &:active {
    border: 1px solid #f3d697;
    background-color: #ffe4b9;

    p {
      color: #5e857a;
    }
  }

  &:disabled {
    border: 1px solid #d0d0d0;
    background-color: transparent;

    p {
      color: #d0d0d0;
    }
  }
}

.rv-green {
  border: 1px solid #5e857a;

  p {
    color: #5e857a;
  }

  &:hover {
    background-color: #5e857a;

    p {
      color: #fff;
    }
  }

  &:active {
    border: 1px solid #5e857a;
    background-color: #324541;

    p {
      color: #fff;
    }
  }

  &:disabled {
    border: 1px solid #d0d0d0;
    background-color: transparent;

    p {
      color: #d0d0d0;
    }
  }
}

.rv-explore {
  border: 1px solid #324541;
  background-color: #324541;

  p {
    color: #fff;
  }

  &:hover {
    border: 1px solid #5e857a;
    background-color: #5e857a;

    p {
      color: #fff;
    }
  }

  &:active {
    border: 1px solid #424f4c;
    background-color: #424f4c;

    p {
      color: #fff;
    }
  }

  &:disabled {
    border: 1px solid #d0d0d0;
    background-color: #d0d0d0;

    p {
      color: #fff;
    }
  }
}

.preview {
  position: relative;
  opacity: 0;
  animation: footer-header 0.5s forwards;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 440px;
    background-color: rgba(#000, 0.6);
  }

  .container {
    position: absolute;
    left: 50%;
    bottom: 120px;
    z-index: 10;
    transform: translateX(-50%);
  }

  img {
    width: 100%;
    height: 440px;
    object-fit: cover;
  }

  h1 {
    z-index: 10;
    opacity: 0;
    animation: fade 0.8s forwards;

    @include m($lg) {
      margin: 0 auto;
      max-width: 290px;
      font-size: 38px;
      text-align: center;
    }
  }
}

.send-form {
  opacity: 0;
  margin-bottom: 120px;
  animation: fade 0.8s forwards;

  &__form {
    width: 100%;
    max-width: 656px;

    @include m($lg) {
      max-width: 100%;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 48px;
    background-color: #324541;

    @include m($lg) {
      flex-direction: column;
      padding: 24px;
    }
  }

  h2 {
    margin-bottom: 16px;
  }

  &__text {
    margin-right: 30px;
    max-width: 545px;

    @include m($lg) {
      margin-right: 0;
      margin-bottom: 40px;
      max-width: 100%;
    }
  }

  .wpcf7-form {
    label {
      position: relative;
      display: block;
      margin-bottom: 38px;
      padding: 30px 0 16px;
      height: 70px;
      border-bottom: 1px solid #5e857a;
      cursor: pointer;

      @include m($lg) {
        margin-bottom: 30px;
      }
    }

    #form-file-span {
      height: 24px;
      font-family: "Causten-600", sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #5e857a;
      cursor: pointer;
    }

    textarea {
      padding: 0 !important;
      width: 100%;
      height: 40px;
      overflow: auto;
      outline: none;
      border-top: none;
      border-right: none;
      border-bottom: none;
      border-left: none;
      border-radius: 0 !important;
      font-family: "Causten-600", sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #ededed;
      background-color: transparent;
      resize: none;

      @include m($sm) {
        font-size: 14px;
      }
    }

    input {
      padding: 0;
      width: 100%;
      height: 24px;
      outline: none;
      border-top: none;
      border-right: none;
      border-bottom: none;
      border-left: none;
      font-family: "Causten-600", sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #ededed;
      background-color: transparent;

      @include m($sm) {
        padding: 3px 0 8px;
        font-size: 14px;
      }
    }

    .cora-label-text {
      position: absolute;
      left: 0;
      top: 30px;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 24px;
      font-family: "Causten-600", sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #5e857a;
      transition: all 0.3s;
    }

    .dad-active-input {
      .cora-label-text {
        top: 0;
        font-family: "Causten-500", sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
      }
    }

    .wpcf7-form-control-wrap {
      position: absolute;
      left: 0;
      top: 30px;
      width: 100%;
      height: 24px;
      line-height: 24px;

      input {
        border-radius: 0 !important;
      }
    }

    .wpcf7-submit,
    .form-submit {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      height: 50px;
      min-height: 50px;
      border: 1px solid #f3d697;
      border-radius: 4px !important;
      font-family: "Causten-600", sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.1;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #f3d697;
      background-color: transparent;
      transition: all 0.3s;

      &:hover {
        color: #324541;
        background-color: #fbd394;
        cursor: pointer;
      }

      &:active {
        border: 1px solid #f3d697 !important;
        color: #5e857a !important;
        background-color: #ffe4b9 !important;
      }

      &:disabled {
        border: 1px solid #d0d0d0;
        color: #d0d0d0;
        background-color: transparent;
      }
    }

    br {
      display: none;
    }
  }

  .wpcf7-not-valid-tip {
    position: absolute;
    bottom: -38px;
    font-family: "Causten-500", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #fd4f4f;
  }

  .wpcf7-not-valid {
    position: relative;

    &::after {
      content: "++";
      position: absolute;
      right: 0;
      top: 0;
      width: 20px;
      height: 20px;
    }

    &::placeholder {
      color: #fd4f4f;
    }

    textarea {
      &::placeholder {
        color: #fd4f4f;
      }
    }
  }

  .wpcf7-response-output {
    display: none !important;
    margin: 12px 0 0 !important;
    padding: 0 !important;
    border-top: none !important;
    border-right: none !important;
    border-bottom: 1px solid #fd4f4f !important;
    border-left: none !important;
    font-family: "Causten-600", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fd4f4f;
  }

  @include m($xl) {
    margin-bottom: 80px;
  }

  @include m($lg) {
    margin-bottom: 60px;
  }
}

.cookie {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 50px;
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 24px 32px 24px 24px;
  max-width: 1280px;
  border-radius: 4px;
  background-color: #324541;

  .rv-button {
    margin: 0;
    width: fit-content;

    @include m($lg) {
      min-height: 45px;
    }

    @include m($lg) {
      min-height: 40px;
    }
  }

  &__text {
    margin: 0 25px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    color: #fff;

    @include m(1500) {
      font-size: 18px;
    }

    @include m($lg) {
      font-size: 16px;
    }

    @include m(650) {
      margin: 0 0 10px;
    }
  }

  img {
    @include m($lg) {
      max-width: 50px;
    }

    @include m(650) {
      margin-bottom: 10px;
      max-width: 40px;
    }
  }

  @include m(1500) {
    width: 100%;
    max-width: 95%;
  }

  @include m($xl) {
    padding: 20px;
  }

  @include m(650) {
    flex-direction: column;
    padding: 15px;
  }
}

.fancybox-button--zoom {
  display: none !important;
}

.home-page-popup {
  padding: 0 15px;

  .home-page-popup-body {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 48px;

    .send-form {
      animation: footer-header 0.9s forwards;
    }

    @include m($lg) {
      flex-direction: column;
      padding: 40px 24px;
    }

    @include m($md) {
      padding: 44px 15px 40px;
    }
  }

  .home-page-popup-left {
    opacity: 0;
    margin-right: 20px;
    max-width: 500px;
    animation: footer-header 0.8s forwards;

    p {
      @include m($sm) {
        font-size: 14px;
      }
    }

    @include m($xl) {
      max-width: 400px;
    }

    @include m($lg) {
      margin-right: 0;
      margin-bottom: 20px;
      max-width: 100%;
    }

    @include m($sm) {
      margin-right: 0;
      margin-bottom: 14px;
      max-width: 100%;
    }
  }

  .home-page-popup-close {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;

    svg {
      width: 32px;
      height: 32px;
    }
  }

  h2 {
    margin-bottom: 16px;

    @include m($lg) {
      margin-bottom: 10px;
      font-size: 30px;
    }

    @include m($sm) {
      font-size: 22px;
    }
  }

  .send-form__wrapper {
    justify-content: flex-end;
    padding: 0;
  }

  .send-form {
    margin: 0;

    .container {
      padding: 0;
    }
  }

  .home-page-popup-right {
    width: 100%;
  }
}

.cmplz-dropdown .cmplz-service-desc .cmplz-dropdown-cookiepolicy {
  background-color: transparent !important;
}

.cookies-per-purpose {
  background-color: transparent !important;

  div {
    background-color: transparent !important;
  }
}

.hfs-video-section {
  margin: 60px 0 120px;
  animation: fade 0.8s forwards;

  iframe {
    max-height: 841px;

    @include m($lg) {
      max-height: 500px;
    }
  }

  .rv-video {
    margin-top: 52px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  @include m($lg) {
    margin: 20px 0 60px;
  }
}

.cmplz-category-title {
  font-family: "Causten-600", sans-serif;
  font-weight: 600;
  font-size: 18px !important;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #fff !important;
}

.page_main_section,
#cmplz-document {
  padding: 234px 0 120px;
  font-family: "Causten", sans-serif;
  font-size: 18px;
  line-height: 1.4;

  br {
    display: none;
  }

  h1 {
    margin-bottom: 24px;
  }

  .cmplz-subtitle {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
    font-size: 24px !important;
  }

  h2 {
    margin-top: 24px !important;
    margin-bottom: 24px;
    padding-bottom: 0 !important;
    font-size: 26px !important;
    line-height: 1.4;
  }

  a {
    display: inline-block;
    width: fit-content !important;
    font-family: "Causten", sans-serif;
    font-weight: 400;
    font-size: 18px !important;
    line-height: 1.4;
    letter-spacing: 0.04em;
    text-decoration: underline;
    color: #fff;
  }

  label {
    margin-right: 5px;
    font-weight: 400;
    font-size: 18px !important;
    line-height: 1.4;
    letter-spacing: 0.04em;
    color: #fff !important;
  }

  input {
    outline: none !important;
    border: none;
    font-family: "Causten", sans-serif;
    font-weight: 400;
    font-size: 18px !important;
    line-height: 1.4;
    letter-spacing: 0.04em;
    color: #fff !important;
    background-color: transparent;

    &::placeholder {
      border: 1px solid #fff;
      font-family: "Causten", sans-serif;
      font-weight: 400;
      font-size: 18px !important;
      line-height: 1.4;
      letter-spacing: 0.04em;
      color: #fff !important;
      background-color: transparent;
    }
  }

  p {
    font-family: "Causten", sans-serif;
    font-weight: 400;
    font-size: 18px !important;
    line-height: 1.4;
    letter-spacing: 0.04em;
    color: #fff;

    i {
      font-style: initial !important;
    }

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    br {
      display: none;
    }

    a {
      display: inline-block;
    }
  }

  ul,
  ol {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 0 !important;
    list-style: none !important;

    li {
      position: relative;
      padding-left: 20px;
      font-family: "Causten", sans-serif;
      font-weight: 400;
      font-size: 18px !important;
      line-height: 1.4;
      letter-spacing: 0.04em;
      color: #fff;

      &::after {
        content: "";
        position: absolute;
        left: 4px;
        top: 10px;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: #fff;
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  @include m($xl) {
    padding: 210px 0 100px;
  }

  @include m($lg) {
    padding: 194px 0 80px;
  }
}

.purpose,
.retention-header {
  background-color: transparent !important;
}

#cmplz-document {
  padding: 0;

  @include m($xl) {
    padding: 0;
  }

  @include m($lg) {
    padding: 0;
  }
}

.cmplz-service-header {
  border: 1px solid #fff;
  color: #f3d697;
  background-color: transparent !important;
}

.cmplz-category-header {
  border: 1px solid #fff;
  color: #f3d697;
  background-color: transparent !important;
}

.about_title {
  margin-right: 0 !important;
  font-weight: 600;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #fff;

  @include m($lg) {
    margin-right: 0;
  }
}

.cmplz-marketing {
  .about_title {
    margin-right: 0 !important;
  }

  .vacancy {
    .terms__block {
      flex-direction: row;

      h1 {
        margin-right: 40px;
        min-width: 420px;
      }

      &:not(:last-child) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
  }

  .terms {
    .terms__block {
      display: flex;
      flex-direction: column;
      padding-bottom: 0 !important;
      border-bottom: none !important;

      .terms__wrapper {
        width: 100% !important;
        max-width: 100% !important;
      }

      h1 {
        margin-right: 0;
        margin-bottom: 24px;
        width: 100%;
        min-width: 100%;
        max-width: 100px;
      }

      #cmplz-document {
        margin-right: 0;
        margin-left: auto;
        width: 100%;
        max-width: 100%;
      }
    }
  }

  .terms__block {
    display: flex;
    flex-direction: column;
    padding-bottom: 0 !important;
    border-bottom: none !important;

    h1 {
      margin-right: 0;
      margin-bottom: 24px;
      width: 100%;
      max-width: 100px;
    }

    #cmplz-document {
      margin-right: 0;
      margin-left: auto;
      width: 100%;
      max-width: 100%;
    }
  }
}

.cmplz-document {
  .terms__block {
    display: flex;
    flex-direction: column !important;

    h1 {
      margin-right: 0;
      margin-bottom: 24px;
      width: 100%;
      max-width: 100px;
    }

    #cmplz-document {
      width: 100%;
      max-width: 100%;
    }
  }
}

.section_item {
  width: 100%;
  max-width: 100%;

  .cmplz-document {
    width: 100%;
    max-width: 100%;
  }

  #cmplz-document {
    width: 100%;
    max-width: 100%;
  }
}

.formatted_content {
  #cmplz-document {
    width: 100%;
    max-width: 100%;
  }
}

.mark-house-sold {
  position: absolute;
  left: 32px;
  top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  height: 34px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #18211f;
  background-color: #fbd394;

  @include m($lg) {
    left: 18px;
    top: 18px;
    padding: 0 13px;
    height: 30px;
  }
}

.home-sold {
  position: absolute;
  background-color: transparent;
}

#cmplz-datarequest-submit {
  margin-top: 10px;
  padding: 0 20px;
  height: 40px;
  border: 1px solid #fff !important;
  border-radius: 4px;
  color: #fff !important;
  background-color: transparent !important;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(120px);
  }

  35% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }

  35% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes footer-header {
  0% {
    opacity: 0;
  }

  35% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes header {
  0% {
    opacity: 0;
    transform: translateY(-115px);
  }

  35% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-big {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  35% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

select,
textarea,
input[type="text"],
input[type="button"] {
  appearance: none !important;
  border-radius: 0 !important;
}

input[type="submit"] {
  border-radius: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #324541 !important;
  box-shadow: 0 0 0 1000px #324541 inset !important;
  -webkit-text-fill-color: #fff !important;
  background-color: #324541 !important;
  transition: background-color 5000s ease-in-out 0s !important;
}