.offer {
  padding: 194px 0 0;

  h2 {
    margin-bottom: 64px;
    text-align: center;
    color: #fff;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;
  }

  &__img {
    max-width: 886px;
  }

  &__info {
    width: 100%;
    max-width: 486px;

    h2 {
      margin-bottom: 32px;
      text-align: left;
      color: #fbd394;
    }

    ul {
      margin-bottom: 32px;
      padding-bottom: 32px;
      border-bottom: 1px solid #324541;

      li {
        display: flex;
        align-items: center;
        height: 32px;

        &:not(:last-child) {
          margin-bottom: 24px;
        }
      }

      img {
        margin-right: 4px;
      }

      p {
        color: #b5b1ad;
      }
    }

    .rv-button {
      margin: 0 auto 0 0;
    }
  }

  &__text {
    margin-bottom: 32px;
    min-height: 143px;
  }

  &__description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(#fff, 0.2);

    p {
      max-width: 65%;
    }

    h3 {
      color: #fff;
    }
  }
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-color: #fff;

  img {
    display: block;
    width: 100%;
    height: 50vw;
    object-fit: cover;
    transition: all 0.2s;
  }
}

.swiper {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 300px;
}

.mySwiper2 {
  width: 100%;
  height: 80%;
}

.mySwiper {
  box-sizing: border-box;
  margin-top: 24px;
  padding: 0;
  height: 20%;

  .swiper-slide {
    position: relative;
    height: 197px;
    max-height: 197px;
    overflow: hidden;
    background-color: transparent;
    object-fit: cover;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .swiper-slide-thumb-active {
    &::after {
      display: none;
    }

    img {
      padding: 12px;
      height: fill-available;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 0;
    margin: 0;
    width: 54px;
    height: 100%;
    font-size: 0 !important;
    line-height: 1;
    background: rgba(50, 69, 65, 0.6);

    &::before {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 25px;
      height: 8px;
      transform: translate(-50%, -50%);
    }

    &::after {
      display: none;
    }
  }

  .swiper-button-disabled {
    opacity: 0.5;
  }

  .swiper-button-next {
    right: 0;

    &::before {
      content: url("../images/swiper-arrow-right.svg");
    }
  }

  .swiper-button-prev {
    left: 0;

    &::before {
      content: url("../images/swiper-arrow-left.svg");
    }
  }
}