.sales {
  padding: 120px 0;
  overflow: hidden;

  .sales-inner {
    display: flex;
    justify-content: space-between;
  }

  .sales-slide {
    &:not(:last-child) {
      margin-bottom: 80px;
    }
  }

  &__info {
    z-index: 10;
    display: flex;
    flex-direction: column;
    margin-left: 48px;
    max-width: 485px;

    h2 {
      margin-bottom: 16px;
      color: #fff;
    }

    h3 {
      margin-bottom: 16px;
      color: #fbd394;
    }

    .sale__tags {
      p {
        margin-bottom: 0;
        font-family: Causten, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.04em;
        color: #b5b1ad;
      }
    }
  }

  .sales-swiper {
    position: relative;
    margin-left: 0;
    max-width: 1019px;
  }

  .swiper-slide {
    position: relative;
    opacity: 0.15;
    margin-right: auto;
    max-width: 1019px;
    transform: scale(0.8);
    transition: all 0.3s;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.81%, rgba(0, 0, 0, 0.5) 100%);
    }
  }

  .swiper-slide-active {
    opacity: 1;
    transform: scale(1);
  }

  .swiper-pagination {
    left: 48px;
    bottom: 56px;
    display: flex;
    align-items: flex-end;
    width: fit-content;
    height: 8px;
    text-align: left;
  }

  .swiper-pagination-bullet {
    display: block;
    opacity: 1;
    margin: 0 !important;
    padding: 0;
    width: 6px;
    height: 6px;
    border-radius: 0;
    font-size: 0;
    line-height: 1;
    background: #d9d9d9;
    transition: all 0.3s;

    &:not(:last-child) {
      margin-right: 8px !important;
    }
  }

  .swiper-pagination-bullet-active {
    width: 6px;
    height: 8px;
    border-radius: 10px 10px 0 0;
    background-color: #f3d697;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: auto;
    bottom: 48px;
    width: 55px;
    height: 24px;
    font-size: 0;
    line-height: 1;

    &::before {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 42px;
      height: 8px;
      transform: translate(-50%, -50%);
    }

    &::after {
      display: none;
    }
  }

  .swiper-button-next {
    right: 48px;

    &::before {
      content: url("../images/swiper-sales-right.svg");
    }
  }

  .swiper-button-prev {
    left: auto;
    right: 127px;

    &::before {
      content: url("../images/swiper-sales-left.svg");
    }
  }
}