.thank {
  margin: 0;
  padding: 240px 0;

  .send-form__wrapper {
    align-items: center;
  }

  .rv-button {
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;

    p {
      text-align: center;
    }
  }

  .send-form__text {
    @include m($lg) {
      text-align: center;
    }
  }

  h2 {
    @include m($md) {
      font-size: 30px;
    }
  }

  .send-form__thank {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
  }

  @include m(1500) {
    padding: 200px 0;
  }

  @include m($xl) {
    padding: 200px 0 120px;
  }

  @include m($lg) {
    padding: 160px 0 100px;
  }
}